
.mainDiv{
    width: 290px;
    height: 180px;
    min-width: 220px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
}
.textDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 220px;
}
.imgDiv{
   display: flex;
   flex-direction: column ;
   gap: 120px;
   margin-left: 40px;
}
.redactDiv{
    background-image: url(/static/picture/icons8-редактировать.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}
.deletDiv{
    background-image: url(/static/picture/icons8-удалить.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}
.redactDiv:hover,
.deletDiv:hover{
     cursor: pointer;
}